<!DOCTYPE html>
<html lang="ja">
  <head>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Import Materialize CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Import Font Wesome -->
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/footer.css" />
    <link rel="stylesheet" href="css/register_admin.css" />
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css/item_list.css" />
    <link rel="stylesheet" href="css/item_detail.css" />
    <link rel="stylesheet" href="css/cart_list.css" />
    <link rel="stylesheet" href="css/order_confirm.css" />
    <link rel="stylesheet" href="css/order_finished.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ラクラクアロハ</title>
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header">
          <div class="header-left">
            <a href="top.html">
              <img class="logo" src="img/header_logo.png" />
            </a>
          </div>

				<div class="header-right">
					<a th:href="@{/showItemList/}">商品一覧</a> <a
						th:href="@{/insertUser/toInsert}">会員登録</a>
					<!-- これリンクいる？ -->
					<a href="#"><i class="fas fa-shopping-cart"></i>カート</a>
					<!-- パス改修の余地あり -->
					<a th:href="@{/login}" class="login"> <i
						class="fas fa-sign-in-alt"></i>ログイン
					</a>
					<!-- 実装することがあれば書く、ないなら消す -->
					<a href="order_history.html">注文履歴</a>
			<!-- end top-wrapper -->
			</div>
			</div>
		</div>
	</header>
	<div class="top-wrapper">
			
      <div class="container">
        <h1 class="page-title">ショッピングカート</h1>
        <!-- table -->
        <div class="row">
          <table class="striped" th:each="orderItem :${order.orderItemList}">
            <thead>
              <tr>
                <th class="cart-table-th" th:text="${orderItem.item.name}">商品名</th>
                <th><span th:text="${orderItem.size}">M</span><span th:text=${orderItem.quantity}>サイズ、価格(税抜)、数量</th>
                <th th:each="orderTopping: ${orderItem.orderToppingList}">
                <span th:text="${orderTopping.topping.name}"></span>
                <span th:text="${orderTopping.topping.priceM}"></span>/トッピング、価格(税抜)</th> 
                <th>小計</th>
              </tr>
              <td><div class="text-center">3,280円</div></td>
                <td>
                	<form th:action="@{/shopCart/deleteItem}" method="POST">
                	<input type="hidden" th:value=${orderItem.id}>
                  <button class="btn" >
                    <span>削除</span>
                  </button>
                  </form>
                </td>
            </thead>
          </table>
        </div>

        <div class="row cart-total-price">
          <div>消費税：8,000円</div>
          <div>ご注文金額合計：38,000円 (税込)</div>
        </div>
        <div class="row order-confirm-btn">
        <form th:action="@{/orderConfirm/}" method="post">
        <input type="hidden" th:value="${order.Id}">
          <button
            class="btn"
            type="button"
            onclick="location.href='order_confirm.html'"
            
          >
            <span>注文に進む</span>
          </button>
        </form>
        </div>
      </div>
      <!-- end container -->
    </div>
    <!-- end top-wrapper -->
    <footer>
      <div class="container">
        <img src="img/header_logo.png" />
        <p>アロハな気分をあなたにお届け！</p>
      </div>
    </footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
