<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>お問い合わせフォーム</title>
<link rel="stylesheet" href="contactForm.css">
<script type="text/javascript" src="contact.js"></script>
<!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Import Materialize CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Import Font Wesome -->
    <link
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/common.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/footer.css" />
    <link rel="stylesheet" href="css/register_admin.css" />
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css/item_list.css" />
    <link rel="stylesheet" href="css/item_detail.css" />
    <link rel="stylesheet" href="css/cart_list.css" />
    <link rel="stylesheet" href="css/order_confirm.css" />
    <link rel="stylesheet" href="css/order_finished.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ラクラクトイ</title>
</head>
<body>
 <div class="container">
        <div class="header">
          <div class="header-left">
            <a href="top.html">
              <img class="logo" src="img/header_logo.png" />
            </a>
          </div>
          <div class="header-right">
            <a href="item_list.html">商品一覧</a>
            <a href="register_admin.html">会員登録</a>
            <a href="#"><i class="fas fa-shopping-cart"></i>カート</a>
            <a href="login.html" class="login">
              <i class="fas fa-sign-in-alt"></i>ログイン
            </a>
            <a href="order_history.html">注文履歴</a>
            <a href="contactForm.html">お問合わせ</a>
          </div>
<div>
    <form th:action="@{ }" method="post" name="form" onsubmit="validate()">
        <h1 class="contact-title">お問い合わせ 内容入力</h1>
        <p>お問い合わせ内容をご入力の上、「確認画面へ」ボタンをクリックしてください。</p>
        <div>
            <div>
                <label>お名前<span>必須</span></label>
                <input type="text" name="name" placeholder="例）山田太郎" value="">
            </div>
            <div>
                <label>ふりがな<span>必須</span></label>
                <input type="text" name="furigana" placeholder="例）やまだたろう" value="">
            </div>
            <div>
                <label>メールアドレス<span>必須</span></label>
                <input type="text" name="email" placeholder="例）guest@gmail.com" value="">
            </div>
            <div>
                <label>電話番号<span>必須</span></label>
                <input type="text" name="tel" placeholder="例）0000000000" value="">
            </div>
            <div>
                <label>性別<span>必須</span></label>
              <label>
                <input id="gender-m" name="gender" type="radio" checked="checked" />
                <span>男性</span>
              </label>
              <label>
                <input id="gender-w" name="gender" type="radio" />
                <span>女性</span>
              </label>
            </div>
            <div>
                <label>お問い合わせ内容<span>必須</span></label>
                <textarea id="contact" name="content" rows="50" cols="50" placeholder="お問合せ内容を入力"></textarea>
            </div>
        </div>
        <button type="submit">確認画面へ</button>
    </form>

</div>
</body>
</html>